body {
    overflow-x: hidden;
}

.MainContainer {
    /*background-color: rgba(0,0,0,.2);*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    /*margin-top: 70px;*/
    margin-bottom: 170px;
    border-radius: 20px;
    color: white;
}

.MainContainer .MainInfo {
    height: 100%;
    /*background-color: yellow;*/
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

.VideoBG {
    position: absolute;
    z-index: -1;
    filter: blur(2px);
    width: 100%;
    height: 100vh;
}

video#myVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

