@model CarRepairShop.web.Models.AddItemViewModel
@{
    ViewData["Title"] = "AddAppointment";
}

<h2>Add Appointment</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAppointment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="VehicleId" class="control-label"></label>
                <select asp-for="VehicleId" asp-items="Model.Vehicles" class="form-control"></select>
                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ServiceId" class="control-label"></label>
                <select asp-for="ServiceId" asp-items="Model.Services" class="form-control"></select>
                <span asp-validation-for="ServiceId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}