@model CarRepairShop.web.Data.Entities.Service

@{
    ViewData["Title"] = "Create new Vehicle";
}

<h1>Create new vehicle</h1>

<hr />

<div class="row">

    <div class="col-md-4">

        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_Services" />

            <div class="form-group">

                <input type="submit" value="Create" class="btn btn-primary" />

            </div>

        </form>

    </div>

</div>

<div>

    <a asp-action="Index" class="btn btn-success">Back to List</a>

</div>




@section Scripts {

    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }

}