@model CarRepairShop.web.Models.VehicleViewModel

<div class="form-group">
    <label asp-for="CarPlate" class="control-label"></label>
    <input asp-for="CarPlate" class="form-control" />
    <span asp-validation-for="CarPlate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Brand" class="control-label"></label>
    <input asp-for="Brand" class="form-control" />
    <span asp-validation-for="Brand" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CarModel" class="control-label"></label>
    <input asp-for="CarModel" class="form-control" />
    <span asp-validation-for="CarModel" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Color" class="control-label"></label>
    <input asp-for="Color" class="form-control" />
    <span asp-validation-for="Color" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Year" class="control-label"></label>
    <input asp-for="Year" class="form-control" />
    <span asp-validation-for="Year" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ImageFile" class="control-label"></label>
    <input asp-for="ImageFile" class="form-control" type="file" />
    <span asp-validation-for="ImageFile" class="text-danger"></span>
</div>